.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

#random-btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 60px;
  font-weight: bold;
  background-color: #61c2f1;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#random-btn, #random-btn:active {
  outline: none;
}

#random-result {
  margin-bottom: 10px;
}

.char-row {
  height: 80px;
}

.stock-icon-container {
  margin-right: 10px;
}

.input-container {
  margin-right: 25%;
}
