* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

#content {
  height: 100vh;
  overflow: hidden;
}

#random-btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 60px;
  font-weight: bold;
  background-color: #00ffaa;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#random-btn, #random-btn:active {
  outline: none;
}

#random-result {
  padding-bottom: 10px;
  border-bottom: 1px solid #505050;
}

#chars-container {
  overflow: auto;
}

.char-row {
  height: 80px;
  padding: 10px;
}

.stock-icon-container {
  margin-right: 10px;
}

.input-container {
  margin-right: 20%;
}
